
// Fonts 
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
$font-sans-serif: 'Lato', sans-serif;

// Colors
$black: #000000;
$white: #ffffff;
$color-primary: #222222;
$color-secondary: #50e3c2;