
/* Buttons
---------------------------*/

.button {
	background-color: $color-secondary;
	color: $color-primary;
	font-size: 1.8rem;
	font-weight: 700;
	width: 100%;
	max-width: 195px;
	padding: 1.1rem 0.8rem;
	border-radius: 22px;
	text-align: center;
	transition: 0.3s all ease;
	text-transform: uppercase;

	&:hover {
		background-color: darken($color-secondary, 6%);
	}
}