
/* Buttons
---------------------------*/

.button {
	background-color: $color-secondary;
	color: $color-primary;
	cursor: pointer;
	font-size: 1.8rem;
	font-weight: 700;
	width: 100%;
	max-width: 195px;
	padding: 1.3rem 0.5rem;
	border: none;
	border-radius: 22px;
	text-align: center;
	transition: 0.3s all ease;
	text-transform: uppercase;

	&:hover {
		transform: translate(0,-3px);
		background-color: darken($color-secondary, 8%);
	}

	&:active {
		transform: translate(0,0);
		background-color: darken($color-secondary, 14%);
	}
}