
/* Steps
---------------------------*/
.steps {
	background-color: $off-white;
	text-align: center;
	margin-top: 3rem;
	padding: 4rem 2.5rem;
	@include container;

	h2 {
		font-size: 3.2rem;
		margin-bottom: 3rem;
	}
}

/* List */

.steps-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2.4rem;
	justify-content: center;

	@media(min-width: 768px) {
		flex-wrap: nowrap;
	}
}

.step {
	width: 100%;
	font-size: 1.6rem;
	padding: 0 1.5rem;

	@media(min-width: 768px) {
		max-width: 280px;
	}
}

.step-number {
	color: $blue;
	display: inline-block;
	font-size: 6rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 5px solid $color-secondary;
}

.step-title {
	margin: 1rem 0;
	font-weight: 700;
	text-transform: uppercase;
}

